
  .wholeSummernote{
    float: left;
    width: 100%;
    background-color: #ffffcc;
    padding: 15px 0;
  }
  .wholeSummernote textarea, .wholeSummernote input{
    background-color: transparent;
    border: none;
    font-size:2.5rem;
  }
  .wholeSummernote textarea:focus, .wholeSummernote input:focus{
    box-shadow: none;
    border: none;
  }
  .ngx-editor .ngx-wrapper .ngx-editor-textarea{
    /* background-image: url('../assets/images/rules.gif'); */
    background-color: #ffffcc;
    line-height: 10px;
  }
  .note-editor.note-frame {
    border: none;
  }
  .note-editable p{
    line-height: 10px;
  }
