<section class="">
        <div class="pageheader">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4><i class="fa fa-user"></i> Create Deal</h4>
                        <div class="button-list pull-right mt-7">
                            <ul class="float-btn float-btn-left">
                                <li>
                                    <a routerLink="../cramdeal" class="btn btn-default"> <i class="fa fa-arrow-left"></i> Go Back</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wow fadeIn">
                        <form class="w-100" role="form" action="" method="post">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="col-md-12">Deal Information</h4>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Deal Name</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Amount</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Account Name</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project Number</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Email</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="email" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Closing Date</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="date" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Phone</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Deal Owner</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project Type</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Secondary Contact</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Job Specific</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Secondary Phone</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Sales Person</label>
                                            <div class="col-sm-8">
                                                <div class="input-group"> <a class="btn btn-default btn-city dropdown-toggle input-group-addon" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> None <span class="caret caret-search"></span> </a>
                                                    <ul class="dropdown-menu left-0" aria-labelledby="dropdownMenu1">
                                                        <li><a href="#">Kameron</a></li>
                                                        <li><a href="#">Jeff</a></li>
                                                    </ul>
                                                    <input placeholder="" type="text" class="form-input form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Secondary Email</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Stage</label>
                                            <div class="col-sm-8">
                                                <div class="input-group"> <a class="btn btn-default btn-city dropdown-toggle input-group-addon" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> None <span class="caret caret-search"></span> </a>
                                                    <ul class="dropdown-menu left-0" aria-labelledby="dropdownMenu1">
                                                        <li><a href="#">Project Enquiry</a></li>
                                                        <li><a href="#">First FollowUP</a></li>
                                                        <li><a href="#">Second FollowUP</a></li>
                                                        <li><a href="#">Third FollowUP</a></li>
                                                        <li><a href="#">Need Project Walk Through</a></li>
                                                        <li><a href="#">Needs Estimate</a></li>
                                                        <li><a href="#">Lost Lead</a></li>
                                                    </ul>
                                                    <input placeholder="" type="text" class="form-input form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project Link</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <h4>Address Information </h4>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Street</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">City</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">State</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Zip Code</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Project Site Access</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">County</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <h4>Description</h4>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <textarea rows="2" placeholder="description" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Project Walk Notes</h4>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <textarea rows="2" placeholder="Note" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-2 text-right">
                                        <button class="btn btn-success btn-md" type="button">Save </button>
                                        <button class="btn btn-default btn-md" type="button">Save and New </button>
                                        <button class="btn btn-default btn-md" type="button">Cancel </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>