<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div class="row">
                  <div class="col-md-12">
                      <nav>
                          <h4 style="display: inline-block;padding: 5px 15px;">Top 5 Active Projects</h4>
                          <div class="nav navbar-nav navbar-right" style="margin-right: 15px; margin-top: 8px; margin-bottom: 8px;">

                              <ul class="filter-view pull-right">
                                  <li><a data-tab="tab-1" href="javascript:void(0)"  class="activelink"><i class="fa fa-th"></i></a></li>
                                  <li><a data-tab="tab-2" href="javascript:void(0)"  class=""><i class="fa fa-th-list"></i></a></li>
                              </ul>
                          </div>
                      </nav>
                  </div>
              </div>

              <div id="tab-1" class="grid-view content current pro-projects">
                  <div class="p10">
                      <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                          <div class="single-products">
                              <div class="productinfo text-center"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" />
                                  <div class="product-overlay">
                                      <div class="overlay-content">
                                          <a href="javascript:void();"> <i class="fa fa-eye"></i> </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="choose">
                              <p>John Photography</p>
                              <p><span>Address:</span> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><span>Project Des.</span> Lorem Ipsum is
                                  <br>simply dummy text.</p>
                              <p><span>People on Project:</span></p>
                              <div class="project-person">
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="p10">
                      <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                          <div class="single-products">
                              <div class="productinfo text-center"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" />
                                  <div class="product-overlay">
                                      <div class="overlay-content">
                                          <a href="javascript:void();"> <i class="fa fa-eye"></i> </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="choose">
                              <p>John Photography</p>
                              <p><span>Address:</span> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><span>Project Des.</span> Lorem Ipsum is
                                  <br>simply dummy text.</p>
                              <p><span>People on Project:</span></p>
                              <div class="project-person ">
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="p10">
                      <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                          <div class="single-products">
                              <div class="productinfo text-center"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" />
                                  <div class="product-overlay">
                                      <div class="overlay-content">
                                          <a href="javascript:void();"> <i class="fa fa-eye"></i> </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="choose">
                              <p>John Photography</p>
                              <p><span>Address:</span> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><span>Project Des.</span> Lorem Ipsum is
                                  <br>simply dummy text.</p>
                              <p><span>People on Project:</span></p>
                              <div class="project-person">
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="p10">
                      <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                          <div class="single-products">
                              <div class="productinfo text-center"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" />
                                  <div class="product-overlay">
                                      <div class="overlay-content">
                                          <a href="javascript:void();"> <i class="fa fa-eye"></i> </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="choose">
                              <p>John Photography</p>
                              <p><span>Address:</span> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><span>Project Des.</span> Lorem Ipsum is
                                  <br>simply dummy text.</p>
                              <p><span>People on Project:</span></p>
                              <div class="project-person">
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="p10">
                      <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                          <div class="single-products">
                              <div class="productinfo text-center"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" />
                                  <div class="product-overlay">
                                      <div class="overlay-content">
                                          <a href="javascript:void();"> <i class="fa fa-eye"></i> </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="choose">
                              <p>John Photography</p>
                              <p><span>Address:</span> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><span>Project Des.</span> Lorem Ipsum is
                                  <br>simply dummy text.</p>
                              <p><span>People on Project:</span></p>
                              <div class="project-person">
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="tab-2" class="list-view content hide">
                  <div class="w-100">
                      <div class="item">
                          <a href="javascript:void(0);" class="list-box"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" /> </a>
                          <div class="details">
                              <h3 style="margin-top: 5px !important">Project Name : John Photography</h3>
                              <p><b>Address:</b> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><b>Description:</b> What a classic kit! Available in several great colors, including Natural (shown), Walnut Glaze, White Marine, Copper Sparkle, and Black Galaxy. Every drummer needs one of these.</p>
                              <p><b>People on Project:</b></p>
                              <div class="project-person">
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <a href="javascript:void(0);" class="list-box"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" /> </a>
                          <div class="details">
                              <h3 style="margin-top: 5px !important">Project Name : John Photography</h3>
                              <p><b>Address:</b> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><b>Description:</b> What a classic kit! Available in several great colors, including Natural (shown), Walnut Glaze, White Marine, Copper Sparkle, and Black Galaxy. Every drummer needs one of these.</p>
                              <p><b>People on Project:</b></p>
                              <div class="project-person">
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <a href="javascript:void(0);" class="list-box"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" /> </a>
                          <div class="details">
                              <h3 style="margin-top: 5px !important">Project Name : John Photography</h3>
                              <p><b>Address:</b> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><b>Description:</b> What a classic kit! Available in several great colors, including Natural (shown), Walnut Glaze, White Marine, Copper Sparkle, and Black Galaxy. Every drummer needs one of these.</p>
                              <p><b>People on Project:</b></p>
                              <div class="project-person">
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                              </div>
                          </div>
                      </div>
                      <div class="item">
                          <a href="javascript:void(0);" class="list-box"> <img src="../assets/front-assets/images/home/product4.jpg" alt="" /> </a>
                          <div class="details">
                              <h3 style="margin-top: 5px !important">Project Name : John Photography</h3>
                              <p><b>Address:</b> 1086 Spirit Drive, Live Oak, Florida</p>
                              <p><b>Description:</b> What a classic kit! Available in several great colors, including Natural (shown), Walnut Glaze, White Marine, Copper Sparkle, and Black Galaxy. Every drummer needs one of these.</p>
                              <p><b>People on Project:</b></p>
                              <div class="project-person">
                                  <span><img src="../assets/images/users/avatar-9.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-4.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-2.jpg"></span>
                                  <span><img src="../assets/images/users/avatar-7.jpg"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="card-box">
                  <div class="wow fadeInUp" data-wow-delay="0.1s">
                      <h2>Daily Event</h2>
                      <table class="table table-striped" style="width:100%">
                          <thead>
                              <tr>
                                  <th>Activities</th>
                                  <th>Participants</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="confirmed"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="notable"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="notable"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="notable"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="confirmed"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="card-box">
                  <div class="wow fadeInUp" data-wow-delay="0.1s">
                      <h2>Daily Work Schedule</h2>
                      <table class="table table-striped" style="width:100%">
                          <thead>
                              <tr>
                                  <th>Activities</th>
                                  <th>Participants</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="confirmed"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="notable"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="notable"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="notable"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="confirmed"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="card-box">
                  <div class="wow fadeInUp" data-wow-delay="0.1s">
                      <h2>Daily Mettings</h2>
                      <table class="table table-striped" style="width:100%">
                          <thead>
                              <tr>
                                  <th>Activities</th>
                                  <th>Participants</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="confirmed"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="notable"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="notable"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="notable"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="confirmed"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="card-box">
                  <div class="wow fadeInUp" data-wow-delay="0.1s">
                      <h2>Daily Task/Todos</h2>
                      <table class="table table-striped" style="width:100%">
                          <thead>
                              <tr>
                                  <th>Activities</th>
                                  <th>Participants</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="confirmed"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="notable"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="notable"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="notable"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td>Lorem Ipsum</td>
                                  <td>
                                      <div class="project-person">
                                          <span class="confirmed"><img src="../assets/images/users/avatar-9.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-4.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-2.jpg"></span>
                                          <span class="confirmed"><img src="../assets/images/users/avatar-7.jpg"></span>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div class="card-box pull-left">
                  <div class="wow fadeInUp" data-wow-delay="0.1s">
                      <div class="col-sm-12">
                          <h2>Discussion</h2></div>
                      <div class="col-sm-12">
                          <div class="media">
                              <div class="col-sm-2 col-xs-12">
                                  <a class="pull-left" href="#">
                                      <img class="media-object" src="../assets/images/users/avatar-7.jpg">
                                  </a>
                              </div>
                              <div class="col-sm-8 col-xs-12">
                                  <div class="media-body">
                                      <h4 class="media-heading">Receta 1</h4>
                                      <p>By Francisco</p>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>
                                      <ul class="list-inline list-unstyled">
                                          <li><span><i class="fa fa-calendar"></i> 2 days, 8 hours </span></li>
                                          <li>|</li>
                                          <span><a href="javascript:void(0);"><i class="fa fa-comment"></i> 2 comments</a></span>
                                          <li>|</li>
                                          <li>
                                              <span class="fa fa-star checked"></span>
                                              <span class="fa fa-star checked"></span>
                                              <span class="fa fa-star checked"></span>
                                              <span class="fa fa-star checked"></span>
                                              <span class="fa fa-star"></span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <hr>
                      <div class="col-sm-12">
                          <div class="media">
                              <div class="col-sm-2 col-xs-12">
                                  <a class="pull-left" href="#">
                                      <img class="media-object" src="../assets/images/users/avatar-2.jpg">
                                  </a>
                              </div>
                              <div class="col-sm-8 col-xs-12">
                                  <div class="media-body">
                                      <h4 class="media-heading">Receta 2</h4>
                                      <p>By Francisco</p>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</p>
                                      <ul class="list-inline list-unstyled">
                                          <li><span><i class="fa fa-calendar"></i> 2 days, 8 hours </span></li>
                                          <li>|</li>
                                          <span><a href="javascript:void(0);"><i class="fa fa-comment"></i> 2 comments</a></span>
                                          <li>|</li>
                                          <li>
                                              <span class="fa fa-star checked"></span>
                                              <span class="fa fa-star checked"></span>
                                              <span class="fa fa-star checked"></span>
                                              <span class="fa fa-star checked"></span>
                                              <span class="fa fa-star"></span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div class="card-box pull-left">
                  <div>
                      <div class="col-sm-12">
                          <h2>Files</h2></div>
                      <div class="col-sm-3">
                          <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                              <div class="single-products">
                                  <div class="productinfo text-center">
                                      <img src="../assets/front-assets/images/home/product1.jpg" alt="" />
                                      <div class="product-overlay">
                                          <div class="overlay-content">
                                              <ul class="fav-des">
                                                  <li><a href="javascript:void();" title="Add to Design"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="javascript:void();" title="Comment"><i class="fa fa-comment"></i></a></li>
                                              </ul>
                                              <a href="product-details.html">
                                                  <i class="fa fa-eye"></i>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="choose">
                                  <h2>$56</h2>
                                  <p>Style : <span>Modern</span></p>
                                  <p>Location : <span>Florida</span></p>
                                  <p>Project Type : <span>Kitchen</span></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                              <div class="single-products">
                                  <div class="productinfo text-center">
                                      <img src="../assets/front-assets/images/home/product1.jpg" alt="" />
                                      <div class="product-overlay">
                                          <div class="overlay-content">
                                              <ul class="fav-des">
                                                  <li><a href="javascript:void();" title="Add to Design"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="javascript:void();" title="Comment"><i class="fa fa-comment"></i></a></li>
                                              </ul>
                                              <a href="product-details.html">
                                                  <i class="fa fa-eye"></i>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="choose">
                                  <h2>$56</h2>
                                  <p>Style : <span>Modern</span></p>
                                  <p>Location : <span>Florida</span></p>
                                  <p>Project Type : <span>Kitchen</span></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                              <div class="single-products">
                                  <div class="productinfo text-center">
                                      <img src="../assets/front-assets/images/home/product1.jpg" alt="" />
                                      <div class="product-overlay">
                                          <div class="overlay-content">
                                              <ul class="fav-des">
                                                  <li><a href="javascript:void();" title="Add to Design"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="javascript:void();" title="Comment"><i class="fa fa-comment"></i></a></li>
                                              </ul>
                                              <a href="product-details.html">
                                                  <i class="fa fa-eye"></i>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="choose">
                                  <h2>$56</h2>
                                  <p>Style : <span>Modern</span></p>
                                  <p>Location : <span>Florida</span></p>
                                  <p>Project Type : <span>Kitchen</span></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="product-image-wrapper wow fadeInUp" data-wow-delay="0.1s">
                              <div class="single-products">
                                  <div class="productinfo text-center">
                                      <img src="../assets/front-assets/images/home/product1.jpg" alt="" />
                                      <div class="product-overlay">
                                          <div class="overlay-content">
                                              <ul class="fav-des">
                                                  <li><a href="javascript:void();" title="Add to Design"><i class="fa fa-heart"></i></a></li>
                                                  <li><a href="javascript:void();" title="Comment"><i class="fa fa-comment"></i></a></li>
                                              </ul>
                                              <a href="product-details.html">
                                                  <i class="fa fa-eye"></i>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="choose">
                                  <h2>$56</h2>
                                  <p>Style : <span>Modern</span></p>
                                  <p>Location : <span>Florida</span></p>
                                  <p>Project Type : <span>Kitchen</span></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
