.custom-card-tile {
    background-image: url('/assets/images/rules.gif');
    background-color: rgba(239, 229, 127, 0.2);
  }

  .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    height: 150px;
  }

  .card-img-top {
    display: block;
    width: 100%;
    height: auto;
  }

  .card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
  }

  .card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
  }

  .card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgb(228, 228, 182) !important;
  }

  .card-footer a {
    font-size: 1.3em;
    margin-left: 5px;
  }