<div class="overlay-bg"></div>
	<section id="form" class="wow fadeIn"><!--form-->
		<div class="container">
			<div class="row">
				<div class="box-auto col-md-4">
                	<div class="alert alert-danger mt-3" role="alert" *ngIf="err_message!=null">
            		{{ err_message }}
                  	</div>
                  	<br>
					<div class="w-100">
						<div class="box-header">
							<img src="../assets/front-assets/images/home/logo.png" alt="">
						</div>	
						<div class="box-body">
							<form class="form" #userLogin="ngForm">
							
							<div class="row">
								<div class="col-md-12">
										<label>Email</label>
										<input type="email" 
                                        class="form-control" 
                                        [class.is-invalid]="email.invalid && email.touched" 
                                        [(ngModel)]="loginUserData.email" 
                                        #email="ngModel" name="email" 
                                        placeholder="Enter email" required>              
                                        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
                						</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label>Password</label>
                                        <input type="password" 
                                        class="form-control" 
                                        [class.is-invalid]="password.invalid && password.touched" 
                                        [(ngModel)]="loginUserData.password" 
                                        #password="ngModel" 
                                        name="password" maxlength="15"  minlength="4"
                                        placeholder="Enter your Password" trim required>
                                        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
                                      </div>
                                      </div>
							<span>
								<input class="checkbox pull-left" type="checkbox" style="margin-right: 10px; margin-top: 0px;"> 
								Keep me signed in
							</span>
							<a routerLink="../forgot-password" class="pull-right">Forgot Password</a>
                            <button (click)="loginUser()" [disabled]="userLogin.form.invalid" class="mt-7 btn btn-primary btn-block btn-md d-block">Login</button>
                            <div class="text-center w-100 pt-2 pb-2">
						<span class="txt1">
							Or login with
						</span>
					</div>
						<div class=" social-btn text-center">
							<!-- <a (click)="signInWithFB()" class="btn-face m-b-10"> -->
							<!-- <i class="fa fa-facebook"></i> -->
							<!-- Facebook -->
							<!-- </a> -->
							<a (click)="signInWithGoogle()" class="btn-google m-b-10">
							<i class="fa fa-google-plus"></i>
							Google
							</a>
						</div>
					    </form>
						</div>	
							
						<div class="box-footer">
							<p>Don't have an account? <a routerLink="../register">Join Now</a></p>
					    <small><a routerLink="../privacy-policy">Terms of Use</a></small>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</section>

