   <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                       <ul class="nav navbar-nav">
                          <li><a routerLink="../crmoverview" class="active">Overview</a></li>
                            <li><a routerLink="../crmlead">Leads</a></li>
                            <li><a routerLink="../cramdeal">Deals</a></li>
                            <li><a routerLink="../crmcontact">Contacts</a></li>
                            <li><a routerLink="../crmcustmors">Customers</a></li>
                            <li><a routerLink="../crmvendors">Vendors</a></li>
                           <li><a routerLink="../crmappointment">Appointments</a></li>
                            <li><a routerLink="../crmreport">Report</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="w-100">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4>Open Deal</h4>
                            <hr>
                            <div class="clearfix"></div>
                            <div class="row">
                            <div class="col-md-12">
                                 <div class="table-responsive">
                            <table class="table  table-striped">
                                <thead>
                                    <tr>
                                        <th>Deal Name</th>
                                        <th>Amount</th>
                                        <th>Stage</th>
                                        <th>Closing Date</th>
                                        <th>Acount Name</th>
                                        <th>Deal Owner</th>
                                        <th>Created Time</th>
                                        <th>Modified Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="crmViewDeal.html">Thomas, Rob</a></td>
                                        <td>$ 3,300.00</td>
                                        <td>Estimate</td>
                                        <td></td>
                                        <td>Thomas, Rob</td>
                                        <td>Katy Herbert</td>
                                        <td>Apr 27, 2018 11:20 AM</td>
                                        <td>Apr 27, 2018 11:20 AM</td>
                                    </tr>
                                    <tr>
                                        <td><a href="crmViewDeal.html">Thomas, Rob</a></td>
                                        <td>$ 3,300.00</td>
                                        <td>Estimate</td>
                                        <td></td>
                                        <td>Thomas, Rob</td>
                                        <td>Katy Herbert</td>
                                        <td>Apr 27, 2018 11:20 AM</td>
                                        <td>Apr 27, 2018 11:20 AM</td>
                                    </tr>
                                    <tr>
                                        <td><a href="crmViewDeal.html">Thomas, Rob</a></td>
                                        <td>$ 3,300.00</td>
                                        <td>Estimate</td>
                                        <td></td>
                                        <td>Thomas, Rob</td>
                                        <td>Katy Herbert</td>
                                        <td>Apr 27, 2018 11:20 AM</td>
                                        <td>Apr 27, 2018 11:20 AM</td>
                                    </tr>
                                    <tr>
                                        <td><a href="crmViewDeal.html">Thomas, Rob</a></td>
                                        <td>$ 3,300.00</td>
                                        <td>Estimate</td>
                                        <td></td>
                                        <td>Thomas, Rob</td>
                                        <td>Katy Herbert</td>
                                        <td>Apr 27, 2018 11:20 AM</td>
                                        <td>Apr 27, 2018 11:20 AM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="crmDeal.html" class="mt-2 pull-left">See More</a>
                          
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4>Today Leads</h4>
                            <hr>
                            <div class="clearfix"></div>
                        <div class="row">
                            
                            <div class="col-md-12">
                            <div class="table-responsive">
                               <table class="table  table-striped">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Company</th>
                                                    <th>Phone</th>
                                                    <th>Lead Owner</th>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="crmViewLead.html">John</a></td>
                                                    <td>Doe</td>
                                                    <td>SpruceBox</td>
                                                    <td>+1 1230465987</td>
                                                    <td>Katy Herbert</td>
                                                    <td>Katy@sprucebox.com</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="crmViewLead.html">John</a></td>
                                                    <td>Doe</td>
                                                    <td>SpruceBox</td>
                                                    <td>+1 1230465987</td>
                                                    <td>Katy Herbert</td>
                                                    <td>Katy@sprucebox.com</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="crmViewLead.html">John</a></td>
                                                    <td>Doe</td>
                                                    <td>SpruceBox</td>
                                                    <td>+1 1230465987</td>
                                                    <td>Katy Herbert</td>
                                                    <td>Katy@sprucebox.com</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="crmViewLead.html">John</a></td>
                                                    <td>Doe</td>
                                                    <td>SpruceBox</td>
                                                    <td>+1 1230465987</td>
                                                    <td>Katy Herbert</td>
                                                    <td>Katy@sprucebox.com</td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                        <a href="crmLead.html" class="mt-2 pull-left">See More</a>
                        </div>
                        </div>
                        </div>
                        </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4>Appointment</h4>
                            <hr>
                            <div class="clearfix"></div>
                            <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                        <table class="table  table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Subject</th>
                                                    <th>Activity Type</th>
                                                    <th>Status</th>
                                                    <th>Due Date</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Activity Owner</th>
                                                    <th>Modified Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="crmAppointment.html">Test</a></td>
                                                    <td>Task</td>
                                                    <td><a class="btn btn-success btn-xs">Completed</a></td>
                                                    <td>25/04/2018</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>Kameron</td>
                                                    <td>Apr 27, 2018 04:25 AM </td>
                                                </tr>
                                                <tr>
                                                    <td><a href="crmAppointment.html">Demo</a></td>
                                                    <td>Appointment</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>May 9, 2018 01:00 PM </td>
                                                    <td>May 9, 2018 01:00 PM </td>
                                                    <td>Kameron</td>
                                                    <td>Apr 27, 2018 04:25 AM </td>
                                                </tr>
                                                <tr>
                                                    <td><a href="crmAppointment.html">Test</a></td>
                                                    <td>Task</td>
                                                    <td><a class="btn btn-info btn-xs">Confirmed Date</a></td>
                                                    <td>25/04/2018</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>Kameron</td>
                                                    <td>Apr 27, 2018 04:25 AM </td>
                                                </tr>
                                                <tr>
                                                    <td><a href="crmAppointment.html">Demo</a></td>
                                                    <td>Appointment</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>May 9, 2018 01:00 PM </td>
                                                    <td>May 9, 2018 01:00 PM </td>
                                                    <td>Kameron</td>
                                                    <td>Apr 27, 2018 04:25 AM </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="crmAppointment.html" class="mt-2 pull-left">See More</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4>Report</h4>
                            <hr>
                            <div class="clearfix"></div>
                            <div class="row">
                            <div class="col-md-12">
                               <div class="table-responsive">
                            <table class="table  table-striped" style="width: 100% !important" id="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Customer Name</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>20/04/2018</td>
                                        <td>John</td>
                                        <td>$5000.00</td>
                                    </tr>
                                    <tr>
                                        <td>20/04/2018</td>
                                        <td>John</td>
                                        <td>$5000.00</td>
                                    </tr>
                                    <tr>
                                        <td>20/04/2018</td>
                                        <td>John</td>
                                        <td>$5000.00</td>
                                    </tr>
                                    <tr>
                                        <td>20/04/2018</td>
                                        <td>John</td>
                                        <td>$5000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                           <a href="crmReport.html" class="mt-2 pull-left">See More</a>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
