<section>
  <div class="container">
      <div class="w-100">
          <div class="col-md-12">
              <nav>
                  <ul class="nav navbar-nav">
                      <li><a href="full-setting.html" class="active">User</a></li>
                      <li><a href="role.html">Roles & Permission</a></li>
                      <li><a href="notification-setting.html">Notification</a></li>
                      <li><a href="dateTimeSetting.html">Date Time Setting</a></li>
                  </ul>
                  <div class="nav navbar-nav navbar-right" style="margin-right: 15px; margin-top: 8px;">
                      <a href="addPeople.html" class="btn btn-info waves-effect waves-light pull-right"><i class="fa fa-plus"></i> Add User</a>
                  </div>
                  <div class="search_box pull-right">
                      <input placeholder="Search" type="text">
                  </div>
              </nav>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <div class="mt-2">
                  <div class="w-100">
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Administrator</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Branch manager</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Client</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Administrator</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Branch manager</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Client</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Administrator</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Branch manager</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Client</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Administrator</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Branch manager</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="card-box">
                              <div class="media text-center">
                                  <a href="javascript:void();" class="mb-15 d-block">
                                      <img src="../assets/images/users/avatar-9.jpg" class="rounded-circle" alt="" width="100">
                                  </a>
                                  <div class="media-body mt-15">
                                      <a href="viewPeopleDetail.html">Kameron Khazeni</a>
                                      <p>Client</p>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
 
</section>