<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav>
          <ul class="nav navbar-nav">
            <li><a routerLink="../../project-overview/{{project_id}}">Overview</a></li>
            <li><a routerLink="../../project-task/{{project_id}}">Task</a></li>
            <li><a routerLink="../../project-calendar/{{project_id}}">Calendar</a></li>
            <li *ngIf="project_company_id===company_id"><a
                routerLink="../../project-activity/{{project_id}}">Activity</a></li>
            <li *ngIf="project_company_id===company_id"><a routerLink="../../project-reports/{{project_id}}">Reports</a>
            </li>
            <li *ngIf="select_permissions.indexOf(25) !== -1"><a routerLink="../../project-discussion/{{project_id}}"
                class="active">Discussion</a></li>
            <li><a routerLink="../../project-files/{{project_id}}">Files</a></li>
            <li *ngIf="project_company_id===company_id"><a routerLink="../../project-users/{{project_id}}">Users</a>
            </li>
            <li><a routerLink="../../notes/{{project_id}}">Notes</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="button-list pull-left">
              <h4 class="text-uppercase">{{projectname}}</h4>
            </div>
            <div class="button-list pull-right">
              <ul class="float-btn float-btn-left">
                <li *ngIf="select_permissions.indexOf(24) !== -1"> <a class="btn btn-info waves-effect waves-light"
                    routerLink="../../project-add-discussion/{{project_id}}"><i class="fa fa-plus"></i> Add
                    Discussion</a>
                </li>
              </ul>
            </div>

            <div class="button-list pull-right">
              <ul class="float-btn float-btn-left">
                <div *ngIf="role == 'Administrator' && project_company_id==company_id ">
                  <li> <a class="btn btn-info waves-effect waves-light"
                      routerLink="../../project-dissucion-archive/{{project_id}}"><i class="fa fa-archive"></i> Show Archive</a> </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf=" project_company_id==company_id && usertype=='1'; else externaluser ">
      <div class="row">
        <div class="col-sm-12">

          <div class="card-box">
              <div  *ngIf="discussions?.length == 0; else other_content">
                  <h5> No Record found </h5>
                  </div>
                  <ng-template #other_content>
            <div class="media d-flex"  *ngFor="let discussion of discussions">
              <span *ngIf="discussion.discussion_extension=='pdf' || discussion.discussion_extension=='xls'|| discussion.discussion_extension=='xlsx' || discussion.discussion_extension=='docx'|| discussion.discussion_extension=='doc'|| discussion.discussion_extension=='csv'|| discussion.discussion_extension=='txt'|| discussion.discussion_extension=='zip'||discussion.discussion_extension=='PDF'||
					discussion.discussion_extension=='XLS'||discussion.discussion_extension=='XLSX'||
					discussion.discussion_extension=='DOC'||discussion.discussion_extension=='DOCX'||
					discussion.discussion_extension=='TXT'||discussion.discussion_extension=='ZIP';else other_content">

                <img src="{{noImage}}" class="rounded-circle d-flex mr-10 rounded-circle thumb-md" alt="">

              </span>
              <ng-template #other_content>
                <img src="{{discussion.discussion_file_url}}"
                  class="rounded-circle d-flex mr-10 rounded-circle thumb-md" alt="">
              </ng-template>

              <div class="media-body col-sm-12">
                <div class="buttonAction pull-right mt-2">
                  <a class="delete" (click)="confirm_remove_user(discussion.id)"><span class="badge badge-primary"><span  pTooltip="Delete"><i
                        class="fa fa-trash"></i></span></span></a>
                  <a routerLink="../../project-discussion-edit/{{project_id}}/{{discussion.id}}" class="edit"><span
                      class="badge badge-primary"><span  pTooltip="Edit"><i class="fa fa-pencil"></i></span></span></a>
                </div>

                <h5> <a
                    routerLink="../../project-show-discussion/{{project_id}}/{{discussion.id}}">{{discussion.discussion_title}}</a>
                </h5>
                <p class="text-muted mb-1">
                  {{discussion.discussion_description}}
                </p>
                <div *ngIf="discussion.discussion_type == 1 " class="badge badge-success">
                  internal</div>
                <div *ngIf="discussion.discussion_type == 2 " class="badge badge-danger">
                  External</div>
                <div class="w-100">
                  <small class="text-muted mb-0">Created by : {{discussion.created_by}},
                    {{discussion.created_at.date  | date:alldatetask}}</small>
                  <small> | <a>{{discussion.comments}} Comments</a></small>
                  <ul class="on-project-user">
                    <li *ngFor="let image of discussion.images"><img src="{{image.profile_image}}"
                        class="img-responsive rounded-circle" alt=""></li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-template>
          </div>


        </div>
      </div>
    </div>
    <ng-template #externaluser>
      <div class="row">
        <div class="col-sm-12">

          <div class="card-box" *ngFor="let discussion of discussions">
            <div class="media d-flex">
              <span
                *ngIf="discussion.discussion_extension=='pdf' || discussion.discussion_extension=='xls'|| discussion.discussion_extension=='xlsx' || discussion.discussion_extension=='docx'|| discussion.discussion_extension=='doc'|| discussion.discussion_extension=='csv'|| discussion.discussion_extension=='txt'|| discussion.discussion_extension=='zip'|| discussion.discussion_extension=='PDF'|| discussion.discussion_extension=='DOC'|| discussion.discussion_extension=='DOCX'|| discussion.discussion_extension=='TXT'|| discussion.discussion_extension=='XLSX'|| discussion.discussion_extension=='XLS'|| discussion.discussion_extension=='ZIP';else other_content">

                <img src="{{noImage}}" class="rounded-circle d-flex mr-10 rounded-circle thumb-md" alt="">

              </span>
              <ng-template #other_content>
                <img src="{{discussion.discussion_file_url}}"
                  class="rounded-circle d-flex mr-10 rounded-circle thumb-md" alt="">
              </ng-template>

              <div class="media-body col-sm-12">
                <div class="buttonAction pull-right mt-2">
                  <a class="delete" (click)="confirm_remove_user(discussion.id)"><span class="badge badge-primary"><i
                        class="fa fa-trash"></i></span></a>
                  <a routerLink="../../project-discussion-edit/{{project_id}}/{{discussion.id}}" class="edit"><span
                      class="badge badge-primary"><i class="fa fa-pencil"></i></span></a>
                </div>

                <h5> <a
                    routerLink="../../project-show-discussion/{{project_id}}/{{discussion.id}}">{{discussion.discussion_title}}</a>
                </h5>
                <p class="text-muted mb-1">
                  {{discussion.discussion_description}}
                </p>

                <small class="text-muted mb-0">Created by : {{discussion.created_by}},
                  {{discussion.created_at.date | date:alldate}}</small>
                <small> | <a>{{discussion.comments}} Comments</a></small>
                <ul class="on-project-user">
                  <li *ngFor="let image of discussion.images"><img src="{{image.profile_image}}"
                      class="img-responsive rounded-circle" alt=""></li>
                </ul>
              </div>
            </div>
          </div>


        </div>
      </div>
    </ng-template>
    <div class="modal" *ngIf="modeldisplay2" [style.background]="applyback?'#21212185':'red'" id="Modalupdate2"
      tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:#fff;">
          <div class="modal-header">
            <h4 class="modal-title">Remove Discussion</h4>
            <button type="button" class="close" (click)="hidemodel2()" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body">
            <p> Are You Sure ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default bn-sm" data-dismiss="modal"
              (click)="hidemodel2()">Close</button>
            <button type="submit" class="btn btn-success" (click)="remove_user(remove_user_id)">Remove
              Discussion</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
