  <section class="">
        <div class="pageheader">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4><i class="fa fa-user"></i> Create Contact</h4>
                        <div class="button-list pull-right mt-7">
                            <ul class="float-btn float-btn-left">
                                <li>
                                    <a routerLink="../crmcontact" class="btn btn-default"> <i class="fa fa-arrow-left"></i> Go Back</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wow fadeIn">
                        <form class="w-100" role="form" action="" method="post">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="col-md-12">Contact Information</h4>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">First Name</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Last Name</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Account Name</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Vendor Name</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Email</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="email" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Title</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Phone</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Department</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Other Phone</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Home Phone</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Mobile</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Fax</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">CCB Info</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Date of Birth</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="date" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Reffered By</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Asst. Phone</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Contact Owner</label>
                                            <div class="col-sm-8">
                                                <div class="input-group"> <a class="btn btn-default btn-city dropdown-toggle input-group-addon" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> None <span class="caret caret-search"></span> </a>
                                                    <ul class="dropdown-menu left-0" aria-labelledby="dropdownMenu1">
                                                        <li><a href="#">Kameron</a></li>
                                                        <li><a href="#">Jeff</a></li>
                                                    </ul>
                                                    <input placeholder="" class="form-input form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Email Pop Out</label>
                                            <div class="col-sm-8">
                                                <div class="form-check" style="margin-top:8px;">
                                                    <label>
                                                        <input name="check" id="ckbCheckAll" type="checkbox">
                                                        <span class="label-text"></span> </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Lead Source</label>
                                            <div class="col-sm-8">
                                                <div class="input-group"> <a class="btn btn-default btn-city dropdown-toggle input-group-addon" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> None <span class="caret caret-search"></span> </a>
                                                    <ul class="dropdown-menu left-0" aria-labelledby="dropdownMenu1">
                                                        <li><a href="#">Advertiesment</a></li>
                                                        <li><a href="#">Cold Call</a></li>
                                                        <li><a href="#">External Refferral</a></li>
                                                    </ul>
                                                    <input placeholder="" class="form-input form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Secondary Email</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Customer ID</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Type</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <h4>Address Information </h4>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Mailing Street</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Other Street</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Mailing City</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Other City</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Mailing State</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Other State</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Mailing Zip Code</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Other Zip Code</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Mailing County</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Other County</label>
                                            <div class="col-sm-8">
                                                <input placeholder="" type="text" class="form-input form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <h4>Description</h4>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <textarea rows="2" placeholder="description" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-2 text-right">
                                        <button class="btn btn-success btn-md" type="button">Save </button>
                                        <button class="btn btn-default btn-md" type="button">Save and New </button>
                                        <button class="btn btn-default btn-md" type="button">Cancel </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>