<div class="col-md-12 col-xs-12 col-sm-12 p0" >
  <div class="card">
    <div class="card-body">
      <div class="col-md-12">
        <div class="text-center">
          <h1><i class="fa fa-check" style="background: #92d050;border-radius: 100px;padding: 10px;color: #fff;"></i></h1>
          <h3 (click)="next()" >Account Created Successfully</h3>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <h3 class="text-center">Videos & tutorial</h3>
      <div class="col-md-4">
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AWdA7hdP4ZA?rel=0&showinfo=0" frameborder="0" allowfullscreen width="100%"></iframe></div>
        </div>
          <div class="col-md-4">
            <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I39RKjerJss?rel=0&showinfo=0" frameborder="0" allowfullscreen width="100%"></iframe></div>
      </div>
          <div class="col-md-4">
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Dkx4LYeFnVY?rel=0&showinfo=0" frameborder="0" allowfullscreen width="100%"></iframe></div>
      </div>
      </div>
    </div>
  </div>
</div>