<section class="">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h4><i class="fa fa-user"></i> Update Project</h4>
                  <div class="mb-15">
                      <ul class="float-btn float-btn-left">
                          <li>
                              <a href="javascript:void(0)" routerLink="../../projects" class="btn btn-default"> <i class="fa fa-arrow-left"></i> Go Back</a>
							   
                          </li>
						  <div *ngIf="role == 'Administrator'">
						  <li> <a (click)="confirm_Restore_archive()"  class="btn btn-default"> <i class="fa fa-window-restore" aria-hidden="true"></i> Restore</a> </li>
						  </div>
                      </ul>
                  </div>
              </div>
          </div>
    <div class="row">
	  
        <div class="col-sm-12">
            <div class="wow fadeIn">
                
                    <div class="card">
                        <div class="cardbox">

                            <form  #profilePrimaryForm="ngForm">
                                <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Project Name</label>
                                                <div class="col-sm-8">    
                                                        <input type="text"
                                                          class="form-control"
                                                          [class.is-invalid]="project_name.invalid && project_name.touched" 
                                                          [(ngModel)]="projectUpdateFormData.project_name" 
                                                          #project_name="ngModel" 
                                                          name="project_name" 
                                                          placeholder="Project Name" trim="blur" required>
                                                          <small class="text-danger" [class.d-none]="project_name.valid || project_name.untouched">Project Name is required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="col-sm-4 col-form-label">Select Project Owner </label>
                                              <div class="col-sm-8">
                                                      <select class="custom-select"
                                                      [class.is-invalid]="project_owner_id.invalid && project_owner_id.touched" 
                                                      [(ngModel)]="projectUpdateFormData.project_owner_id" 
                                                      #project_owner_id="ngModel"
                                                        name="project_owner_id" required>
                                                      <option value="">Select Project Owner</option>
                                                      <option value="{{puser.user_id}}" *ngFor="let puser of dropdownList">{{puser.user_name}}</option>
                                                     
                                                  </select>
                                                  <small class="text-danger" [class.d-none]="project_owner_id.valid || project_owner_id.untouched">Project Owner is required</small>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Start date</label>
                                          <div class="col-sm-4" *ngIf="!show_date_box">
                                            <input placeholder="Start Date" class="form-control" [ngModelOptions]="{standalone: true}"
                                              [(ngModel)]="projectUpdateFormData.project_start_date" [owlDateTimeTrigger]="dt3"
                                              [owlDateTime]="dt3" name="project_start_date" #project_start_date="ngModel">
                                            <owl-date-time #dt3></owl-date-time>
                                          </div>
                                          <div class="col-sm-4" *ngIf="show_date_box">
                                            <input placeholder="{{testdate1}}" *ngIf="show_date_box" class="form-control"
                                              [ngModelOptions]="{standalone: true}" [(ngModel)]="testdate4" [owlDateTimeTrigger]="dt3"
                                              [owlDateTime]="dt3">
                                            <owl-date-time #dt3></owl-date-time>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">End date</label>
                                          <div class="col-sm-4" *ngIf="!show_date_box">
                                            <input placeholder="Due Date" class="form-control" [ngModelOptions]="{standalone: true}"
                                              [(ngModel)]="projectUpdateFormData.project_end_date" [owlDateTimeTrigger]="dt" [min]="projectUpdateFormData.project_start_date" 
                                              [owlDateTime]="dt" name="project_end_date" #project_end_date="ngModel">
                                            <owl-date-time #dt></owl-date-time>
                                          </div>
                                          <div class="col-sm-4" *ngIf="show_date_box">
                                            <input placeholder="{{testdate}}" *ngIf="show_date_box" class="form-control" [min]="testdate4" 
                                              [ngModelOptions]="{standalone: true}" [(ngModel)]="testdate5" [owlDateTimeTrigger]="dt"
                                              [owlDateTime]="dt">
                                            <owl-date-time #dt></owl-date-time>
                                          </div>
                                        </div>
                                      </div>
										<div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Project color </label>
                        <div class="col-sm-4">
                          <input [value]="color4" class="form-control" placeholder="Color" [style.background]="color4"
                            [(colorPicker)]="color4" (colorPickerChange)="onChangeColor4($event)" />
                        </div>
                      </div>
                    </div>
                                        <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="col-sm-4 col-form-label">Select Information type</label>
                                              <div class="col-sm-8">
                                                  <div class="form-check"><label ><input  class="checkBoxClass" name="trade[]" type="radio" value="1"><span class="label-text"></span></label> Lead</div>
                                                  <div class="form-check"><label ><input  class="checkBoxClass" name="trade[]" type="radio" value="1"><span  class="label-text"></span></label> Deal</div>
                                                  <div class="form-check"><label ><input  class="checkBoxClass" name="trade[]" type="radio" value="1"><span  class="label-text"></span></label> Other</div>
                                              </div>
                                          </div>
                                        </div>
                                          <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="col-sm-4 col-form-label">Select Lead/Deal </label>
                                              <div class="col-sm-8">
                                                      <select class="custom-select"
                                                      [(ngModel)]="projectUpdateFormData.project_source_type" 
                                                      #project_source_type="ngModel"
                                                      name="project_source_type" >
                                                      <option value="">Select Lead/Deal</option>
                                                      <option>owner1</option>
                                                      <option>owner2</option>
                                                      <option>owner3</option>
                                                      <option>owner4</option>
                                                      <option>owner5</option>
                                                  </select>
                                                  
                                              </div>
                                          </div>
                                          </div>
                                          <div class="col-md-12" >
                                            <div class="col-md-3" >
                                                <div id="file-upload-form" class="uploader">
                                            
                                                    <input   style="display: none"  id="file-upload" type="file"   (change)="onSelectFile($event)"  name="uploaded_file" ng2FileSelect [uploader]="uploader" accept="image/*"  #fileInput />
                                                    <label for="file-upload" id="file-drag">
                                                        <img id="file-image" [src]="projectUpdateFormData.project_image_url" alt="Preview"  width="150px">
                                                        <div id="start">
                                                            
                                                            <div>Project Image</div>
                                                            <span id="file-upload-btn" class="btn btn-default">Change</span>
                                                        </div>
                                                        
                                                    </label>
                                                    <div class="progress" style="display: block;" *ngIf="pr_show" >
                                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader2.progress + '%' }"></div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-9">
                                                    <div class="form-group row">
                                                        <div class="col-sm-12">
                                                                <label>Description</label>
                                                            <textarea rows="2" placeholder="description" [class.is-invalid]="project_description.invalid && project_description.touched" 
                                                            [(ngModel)]="projectUpdateFormData.project_description" maxlength="255"
                                                            #project_description="ngModel" 
                                                            name="project_description" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                          </div>
                                        <div class="clearfix"></div>
                                        <hr>
                                        
                                        <div class="col-md-12 mt-2 text-right">
                                            <button class="btn btn-success btn-md" (click)="update_project_details()"  [disabled]="profilePrimaryForm.form.invalid" type="button">Save </button>
                                           
                                            <a href="javascript:void(0)" routerLink="../../project-show-archive" class="btn btn-default btn-md"> Cancel</a>
                                        </div>
                                    </div>
                                
                                </div>
                                </form>
                        </div>
                      </div>
                  
              </div>
          </div>
      </div>
      <div class="modal" *ngIf="modeldisplay2" [style.background]="applyback?'#21212185':'red'" id="Modalupdate2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="background-color:#fff;">
            <div class="modal-header">
              <h4 class="modal-title">Restore</h4>
              <button type="button" class="close"  (click)="hidemodel2()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
           
                <div class="modal-body">
                    <p> Are You Sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default bn-sm" data-dismiss="modal" (click)="hidemodel2()" >Close</button>
                    <button type="submit" class="btn btn-success" (click)="update_projectedit_archive_data()"  >Restore</button>
                </div>
            
          </div>
        </div>
    </div>
    </div>
</section>