<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css' rel='stylesheet' media='print' />


<section>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <nav class="pos-relative">
                  <ul class="nav navbar-nav">
                      <li><a routerLink="../../project-overview/{{project_id}}">Overview</a></li>
                      <li><a routerLink="../../project-task/{{project_id}}" >Task</a></li>
                      <li *ngIf="select_permissions.indexOf(23) !== -1  "><a routerLink="../../project-calendar/{{project_id}}" class="active">Calendar</a></li>
                      <li *ngIf="project_company_id===company_id"><a routerLink="../../project-activity/{{project_id}}">Activity</a></li>
                      <li *ngIf="project_company_id===company_id"><a routerLink="../../project-reports/{{project_id}}">Reports</a></li>
                      <li><a routerLink="../../project-discussion/{{project_id}}" >Discussion</a></li>
                      <li><a routerLink="../../project-files/{{project_id}}"  >Files</a></li>
                      <li  *ngIf="project_company_id===company_id"><a routerLink="../../project-users/{{project_id}}"  >Users</a></li>
					  <li><a routerLink="../../notes/{{project_id}}"  >Notes</a></li>
                  </ul>
              </nav>
          </div>
      </div>
   
              <h4 class="text-uppercase">{{projectname}}</h4> 
          
     
      <div class="card-box">
        
        <div class="col-md-3 d-flex">
            <a *ngIf="select_permissions.indexOf(21) !== -1" (click)="showfullmodal();" class="btn btn-sm mr-0 btn-primary"><i class="fa fa-plus"></i> Create New</a>
			<a href="javascript:void(0)" class="btn btn-warning waves-effect waves-light ml-10" (click)="print()"> <i class="fa fa-print" aria-hidden="true"></i> Print</a>
        </div>
<div class="modal" *ngIf="modeldisplay" [style.background]="applyback?'#21212185':'red'" id="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <form role="form" #updateMeetingForm="ngForm">
        <div class="modal-header">
		       <button type="button" class="close ml-10"  (click)="hidemodel()" data-dismiss="modal" aria-label="Close" style="color: black;"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" style="display:inline-block;">Update Meeting</h4>
          <!--<button type="button" class="close"  (click)="hidemodel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <button type="submit" *ngIf="select_permissions.indexOf(22) !== -1" class="btn btn-danger btn-sm pull-right" (click)="delete_project_meeting();"><span class="fa fa-trash"></span></button>
         </div>
        <div class="modal-body">
               
                <div class="form-group">
                    <label class="control-label">Meeting Name</label>
                    <input type="text"
                            class="form-control"
                            [class.is-invalid]="meeting_name.invalid && meeting_name.touched" 
                            [(ngModel)]="updateMeetingFromData.meeting_name" 
                            #meeting_name="ngModel" 
                            name="meeting_name" 
                            placeholder="Meeting Name" required>
                    <small class="text-danger" [class.d-none]="meeting_name.valid || meeting_name.untouched">Meeting Name is required</small>
                </div>
                <div class="form-group">
                            <label for="exampleInputPassword1">Description</label>
                            <textarea name="" 
                            [(ngModel)]="updateMeetingFromData.meeting_description" 
                            #meeting_description="ngModel" 
                            name="meeting_description" 
                            placeholder="Description"  rows="3" class="form-control"></textarea>
                            
                </div>
                
                <div class="form-group">
                    <label class="control-label">Attendees email</label>
                    <ng-multiselect-dropdown
                        [placeholder]="'Attendees email'"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"  [ngModelOptions]="{standalone: true}" 
                      >
                      </ng-multiselect-dropdown>
                </div>
                <div class="form-group">
                    <label class="control-label">Meeting Subject</label>
                    <input type="text"
                            class="form-control"
                            [class.is-invalid]="meeting_subject.invalid && meeting_subject.touched" 
                            [(ngModel)]="updateMeetingFromData.meeting_subject" 
                            #meeting_subject="ngModel" 
                            name="meeting_subject" 
                            placeholder="Meeting Subject" required>
                    <small class="text-danger" [class.d-none]="meeting_subject.valid || meeting_subject.untouched">Meeting Subject is required</small>
                </div>
                <div class="form-group">
                    <label class="control-label">Meeting Date</label>
                  <div  *ngIf="!show_date_box">
                           <input placeholder="Meeting Date" class="form-control" [(ngModel)]="updateMeetingFromData.meeting_date" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="meeting_date" #meeting_date="ngModel">
                                    <owl-date-time #dt3></owl-date-time>
									</div>
									<div  *ngIf="show_date_box">
									
									<input placeholder="{{meetingdate}}" *ngIf="show_date_box" class="form-control"   [(ngModel)]="meetingdate1" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [ngModelOptions]="{standalone: true}" >
                            <owl-date-time #dt3></owl-date-time>
									</div>
						
                </div>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-default bn-sm" data-dismiss="modal" (click)="hidemodel()" >Close</button>
          <button type="submit" *ngIf="select_permissions.indexOf(22) !== -1" class="btn btn-success" (click)="update_meeting_event();updateMeetingForm.form.reset()"  [disabled]="updateMeetingForm.form.invalid">Save changes</button>
        </div>
      </form>
      </div>
    </div>
</div>


<div class="modal" *ngIf="modeldisplaydeletemeeting" [style.background]="applyback?'#21212185':'red'" id="Modalupdate2" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color:#fff;">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Meeting</h4>
                    <button type="button" class="close" (click)="hidemodel4()" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
    
                <div class="modal-body">
                    <p> Are You Sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default bn-sm" data-dismiss="modal" (click)="close_delete_popup()">Close</button>
                    <button type="submit" class="btn btn-success" (click)="delete_meeting(delete_meeting_id)">Delete Meeting</button>
                </div>
    
            </div>
        </div>
    </div>
<div class="modal" *ngIf="modeldisplaydropsetting"  id="Modalupdate2" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" >
                <div class="modal-header">
                    <h4 class="modal-title">Drop Event</h4>
                    <button type="button" class="close" (click)="hidemodel4()" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
    
                <div class="modal-body">
                    <p> Are You Sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default bn-sm" data-dismiss="modal" (click)="close_delete_popup()">Close</button>
                    <button type="submit" class="btn btn-success" (click)="Drop_event($event.detail)">Drop Event</button>
                </div>
    
            </div>
        </div>
    </div>


<div class="modal" *ngIf="modeldisplay2" [style.background]="applyback?'#21212185':'red'" id="Modalupdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Event</h4>
       <button type="button" class="close ml-10"  (click)="hidemodel2()" data-dismiss="modal" aria-label="Close" style="color: black;"><span aria-hidden="true">&times;</span></button>
        
		    <button type="submit" *ngIf="select_permissions.indexOf(22) !== -1" class="btn btn-danger btn-sm pull-right" (click)="delete_project_event();"><span class="fa fa-trash"></span></button>
        </div>
        <form role="form" #updateEvenForm="ngForm"   >
            <div class="modal-body">
            
                    
                <div class="form-group">
                    <label class="control-label">Event Name</label>
                    <input type="text"
                            class="form-control"
                            [class.is-invalid]="event_title.invalid && event_title.touched" 
                            [(ngModel)]="updateEventFromData.event_title" 
                            #event_title="ngModel" 
                            name="event_title" 
                            placeholder="Event Name" required>
                    <small class="text-danger" [class.d-none]="event_title.valid || event_title.untouched">Event Name is required</small>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea name="" 
                            [(ngModel)]="updateEventFromData.event_description" 
                            #event_description="ngModel" 
                            name="event_description" 
                            placeholder="Description"  rows="3" class="form-control"></textarea>
                    
                </div>
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                  <div  *ngIf="!show_date_box">
                                                    <input placeholder="Start Date" class="form-control" [(ngModel)]="updateEventFromData.event_start_date" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="event_start_date" #event_start_date="ngModel">
                                    <owl-date-time #dt3></owl-date-time>
												</div>
												<div  *ngIf="show_date_box">
												<input placeholder="{{eventdate}}" *ngIf="show_date_box" class="form-control"   [(ngModel)]="eventdate2" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [ngModelOptions]="{standalone: true}" >
                            <owl-date-time #dt3></owl-date-time>
												</div>
					
                </div>
                <div class="form-group">
                    <label class="control-label">End Date</label>
                  <div  *ngIf="!show_date_box">
                                                     <input placeholder="End Date" class="form-control" [min]="updateEventFromData.event_start_date" [(ngModel)]="updateEventFromData.event_end_date" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="event_end_date" #event_end_date="ngModel">
                                    <owl-date-time #dt></owl-date-time>
									</div>
									<div  *ngIf="show_date_box">
									<input placeholder="{{eventdate1}}" *ngIf="show_date_box" class="form-control"   [(ngModel)]="eventdate3" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [ngModelOptions]="{standalone: true}" >
                            <owl-date-time #dt></owl-date-time>
									</div>
					
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-default bn-sm" data-dismiss="modal" (click)="hidemodel2()" >Close</button>
                <button type="submit" *ngIf="select_permissions.indexOf(22) !== -1" class="btn btn-success" (click)="update_project_event();updateEvenForm.form.reset()"  [disabled]="updateEvenForm.form.invalid">Save changes</button>
                
            </div>
        </form>
      </div>
    </div>
</div>


<div class="modal" *ngIf="modeldisplaydeleteevent" [style.background]="applyback?'#21212185':'red'" id="Modalupdate2" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color:#fff;">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Event</h4>
                    <button type="button" class="close" (click)="hidemodel4()" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
    
                <div class="modal-body">
                    <p> Are You Sure ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default bn-sm" data-dismiss="modal" (click)="close_delete_popup()">Close</button>
                    <button type="submit" class="btn btn-success" (click)="delete_event(delete_event_id)">Delete Event</button>
                </div>
    
            </div>
        </div>
    </div>

  <div id="print-section"> 
<div *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
</div>
    </div> 

   
	  </div>
  </div>


  <!-- Modal Add Category -->
  <div class="modal" *ngIf="modeldisplay3" [style.background]="applyback?'#21212185':'red'" id="Modalupdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a Module
                    <button type="button" class="close ml-10"  (click)="hidemodel3()" data-dismiss="modal" aria-label="Close" style="color: black;"><span aria-hidden="true">&times;</span></button>
                </h4>
            </div>
            <div class="modal-body p-b-0 w-100"  style="background-color: white">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group w-100">
                                <div class="col-md-4 p0">
                                    <div class="form-check">
                                        <label>
                                            <input name="radio" (click)="clickonradio('task')" type="radio" value="task" checked="">
                                            <span class="label-text">Task</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 p0">
                                    <div class="form-check">
                                        <label>
                                            <input name="radio" (click)="clickonradio('meeting')" type="radio" value="meeting">
                                            <span class="label-text">Meeting</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 p0">
                                    <div class="form-check">
                                        <label>
                                            <input name="radio" (click)="clickonradio('event')" type="radio" value="event">
                                            <span class="label-text">Event</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div *ngIf="modeltask" class="task moduleBox" style="display: block;">
                                <form class="w-100" role="form" #addTaskForm="ngForm">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Task Name</label>
                                            <input type="text"
                                            class="form-control"
                                            [class.is-invalid]="task_name.invalid && task_name.touched" 
                                            [(ngModel)]="addTaskFromData.task_name" 
                                            #task_name="ngModel" 
                                            name="task_name" 
                                            placeholder="Task Name" required>
                                            <small class="text-danger" [class.d-none]="task_name.valid || task_name.untouched">Task Name is required</small>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Description</label>
                                            <textarea name="" 
                                            [(ngModel)]="addTaskFromData.task_description" 
                                            #task_description="ngModel" 
                                            name="task_description" 
                                            placeholder="Description" rows="3" class="form-control"></textarea>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Attachment</label>
                                            <input class="form-control"  id="file-upload" type="file" type="file"   (change)="onSelectFile($event)"  name="uploaded_file" ng2FileSelect [uploader]="uploader" accept="image/*"  #fileInput />
                                            <input type="hidden" [(ngModel)]="addTaskFromData.task_image_url" 
                                            #task_image_url="ngModel" 
                                            name="task_image_url" >
                                            <input type="hidden" [(ngModel)]="addTaskFromData.task_project_id" 
                                            #task_project_id="ngModel" 
                                            name="task_project_id" value="{{addTaskFromData.task_project_id}}">
                                            <div class="progress" style="display: block;" *ngIf="pr_show">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Task List</label>
                                            <select class="custom-select" 
                                            
                                            [(ngModel)]="addTaskFromData.task_list_id" 
                                            #task_list_id="ngModel"
                                            name="task_list_id">
                                            <optgroup *ngFor="let TasksType of TasksTypes" label = "{{TasksType.task_list_type}}">
                                                <option *ngFor="let tasklist of TasksType.tasklists" value="{{tasklist.id}}">{{tasklist.task_list_name}}</option>
                                            </optgroup>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Task Owner</label>
                                            <ng-multiselect-dropdown
                                            [placeholder]="'Task Owner'"
                                            [data]="dropdownList"
                                            [(ngModel)]="selectedItems"
                                            [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)"
                                            (onDeSelect)="onItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)" [ngModelOptions]="{standalone: true}" (click)="test123()"
                                        >
                                        </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <label for="exampleInputPassword1">Start Date</label>
                                      <input placeholder="Start Date"  class="form-control"  [(ngModel)]="addTaskFromData.task_start_date" (dateTimeInput)="emitValue()" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="task_start_date" #task_start_date="ngModel">
                                       <owl-date-time #dt3   ></owl-date-time> 

                                    </div>
                                    <div class="col-md-6 ">
                                        <label for="exampleInputPassword1">Due Date</label>
                                       <input placeholder="Due Date" class="form-control" [min]="addTaskFromData.task_start_date" (dateTimeInput)="emitValue()" [(ngModel)]="addTaskFromData.task_end_date" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="task_end_date" #task_end_date="ngModel">
                                   <owl-date-time  #dt></owl-date-time>
 
                                    </div>
                                    <div class="col-md-6 ">
                                        <label for="exampleInputPassword1">Reminder</label>
                                        <input placeholder="Reminder" class="form-control" [max]="addTaskFromData.task_end_date" (dateTimeInput)="emitValue()" [(ngModel)]="addTaskFromData.task_reminder_date" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="task_reminder_date" #task_reminder_date="ngModel">
                                    <owl-date-time #dt2></owl-date-time>  
                                       
                                    </div>
                                    <div class="col-md-6 demo">
                                        <label for="exampleInputPassword1">Priority</label>
                                        <select class="custom-select"
                                        
                                        [(ngModel)]="addTaskFromData.task_priority" 
                                        #task_priority="ngModel"
                                        name="task_priority" >
                                            <option value="">Select</option>
                                            <option value="1">High</option>
                                            <option value="2">Medium</option>
                                            <option value="3">Low</option>
                                            <option value="0">None</option>
                                        </select>
                                       
                                    </div>
                                   
                                    <button type="button" style="float: right;"  class="btn btn-secondary waves-effect" (click)="hidemodel3()">Close</button>
                                    <button type="button" style="float: right; margin-right: 5px" id="" data-dismiss="modal" class="btn btn-success" (click)="add_new_task();addTaskForm.form.reset()" data-action="save" [disabled]="addTaskForm.form.invalid" role="button">Add</button>
                                    
                                </form>
                            </div>
                            <div *ngIf="modelmeeting" class="meeting moduleBox" style="display: block;">
                              <form class="w-100" role="form" #addMeetingForm="ngForm">
                                <div class="form-group">
                                    <label class="control-label">Meeting Name</label>
                                    <input type="text"
                                            class="form-control"
                                            [class.is-invalid]="meeting_name.invalid && meeting_name.touched" 
                                            [(ngModel)]="addMeetingFromData.meeting_name" 
                                            #meeting_name="ngModel" 
                                            name="meeting_name" 
                                            placeholder="Meeting Name" required>
                                    <small class="text-danger" [class.d-none]="meeting_name.valid || meeting_name.untouched">Meeting Name is required</small>
                                </div>
                                <div class="form-group">
                                        <label for="exampleInputPassword1">Description</label>
                                        <textarea name="" 
                                        [(ngModel)]="addMeetingFromData.meeting_description" 
                                        #meeting_description="ngModel" 
                                        name="meeting_description" 
                                        placeholder="Description"  rows="3" class="form-control"></textarea>
                                        
                            </div>
                                <div class="form-group">
                                    <label class="control-label">Attendees email</label>
                                    <ng-multiselect-dropdown
                                    [placeholder]="'Attendees email'"
                                    [data]="dropdownList"
                                    [(ngModel)]="selectedItems"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)"
                                    (onDeSelect)="onItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)" [ngModelOptions]="{standalone: true}">
                                    </ng-multiselect-dropdown>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Meeting Subject</label>
                                    <input type="text"
                                            class="form-control"
                                            [class.is-invalid]="meeting_subject.invalid && meeting_subject.touched" 
                                            [(ngModel)]="addMeetingFromData.meeting_subject" 
                                            #meeting_subject="ngModel" 
                                            name="meeting_subject" 
                                            placeholder="Meeting Subject" required>
                                    <small class="text-danger" [class.d-none]="meeting_subject.valid || meeting_subject.untouched">Meeting Subject is required</small>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Meeting Date</label>
                                   <input placeholder="Meeting Date" class="form-control" [(ngModel)]="addMeetingFromData.meeting_date" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="meeting_date" #meeting_date="ngModel">
                                    <owl-date-time #dt3></owl-date-time>
										
                                </div>
                                <button type="button" style="float: right; " class="btn btn-secondary waves-effect" (click)="hidemodel3()">Close</button>
                                <button type="button" style="float: right;margin-right: 5px"  class="btn btn-success" (click)="add_new_meeting();addMeetingForm.form.reset()"  [disabled]="addMeetingForm.form.invalid">Save</button>
                            </form>
                            </div>
                            <div *ngIf="modelevent" class="event moduleBox" style="display: block;">
                              <form role="form" #addEvenForm="ngForm"   >
                                <div class="form-group">
                                    <label class="control-label">Event Name</label>
                                    <input type="text"
                                            class="form-control"
                                            [class.is-invalid]="event_title.invalid && event_title.touched" 
                                            [(ngModel)]="addEventFromData.event_title" 
                                            #event_title="ngModel" 
                                            name="event_title" 
                                            placeholder="Event Name" required>
                                    <small class="text-danger" [class.d-none]="event_title.valid || event_title.untouched">Event Name is required</small>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea name=""  
                                            [(ngModel)]="addEventFromData.event_description" 
                                            #event_description="ngModel" 
                                            name="event_description" 
                                            placeholder="Description"  rows="3" class="form-control"></textarea>
                                  
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Start Date</label>
                                    <input placeholder="Start Date" class="form-control" [(ngModel)]="addEventFromData.event_start_date" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="event_start_date" #event_start_date="ngModel">
                                    <owl-date-time #dt3></owl-date-time>
									
                                </div>
                                <div class="form-group">
                                    <label class="control-label">End Date</label>
                                    <input placeholder="End Date" class="form-control" [(ngModel)]="addEventFromData.event_end_date" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="event_end_date" #event_end_date="ngModel">
                                    <owl-date-time #dt></owl-date-time>
									
                                </div>
                                <button type="button" style="float: right;" class="btn btn-secondary waves-effect" (click)="hidemodel3()">Close</button>
                                <button type="button" style="float: right; margin-right: 5px"  class="btn btn-success" (click)="add_new_event();addEvenForm.form.reset()"  [disabled]="addEvenForm.form.invalid">Save</button>
                               
                            </form>
                            </div>
                        </div>
                    </div>
                
            </div>
            
        </div>
    </div>
</div>
<!-- END MODAL -->

<div class="modal" *ngIf="modeldisplay4" [style.background]="applyback?'#21212185':'red'" id="Modalupdate2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
          <form class="w-100" role="form" #updateTaskForm="ngForm" style="background-color: #ffffff;">
            <div class="modal-header">
              <h4 class="modal-title">Update Task
              <button type="button" class="close"  (click)="hidemodel4()" data-dismiss="modal" aria-label="Close" style="color: black;"><span aria-hidden="true">&times;</span></button>
              </h4>
             </div>
            <div class="modal-body">
                    
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Task Name</label>
                                    <input type="text"
                                    class="form-control"
                                    [class.is-invalid]="task_name.invalid && task_name.touched" 
                                    [(ngModel)]="updateTaskFromData.task_name" 
                                    #task_name="ngModel" 
                                    name="task_name" 
                                    placeholder="Task Name" required>
                                    <small class="text-danger" [class.d-none]="task_name.valid || task_name.untouched">Task Name is required</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Description</label>
                                    <textarea name=""  
                                    [(ngModel)]="updateTaskFromData.task_description" 
                                    #task_description="ngModel" 
                                    name="task_description" 
                                    placeholder="Description"  rows="3" class="form-control"></textarea>
                                   
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Attachment</label>
                                    <input class="form-control"  id="file-upload" type="file" type="file"   (change)="onSelectFile($event)"  name="uploaded_file" ng2FileSelect [uploader]="uploader" accept="image/*"  #fileInput />
                                    <input type="hidden" [(ngModel)]="updateTaskFromData.task_image_url" 
                                    #task_image_url="ngModel" 
                                    name="task_image_url" >
                                    
                                    <div class="progress" style="display: block;" *ngIf="pr_show">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Task List</label>
                                    <select class="custom-select" 
                                  
                                    [(ngModel)]="updateTaskFromData.task_list_id" 
                                    #task_list_id="ngModel"
                                    name="task_list_id" >
                                    <optgroup *ngFor="let TasksType of TasksTypes" label = "{{TasksType.task_list_type}}">
                                        <option *ngFor="let tasklist of TasksType.tasklists" value="{{tasklist.id}}">{{tasklist.task_list_name}}</option>
                                    </optgroup>
                                    </select>
                                   
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Task Owner</label>
                                    <ng-multiselect-dropdown
                                        [placeholder]="'Task Owner'"
                                        [data]="dropdownList"
                                        [(ngModel)]="selectedItems"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"  [ngModelOptions]="{standalone: true}" 
                                    >
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <label for="exampleInputPassword1">Start Date</label>
                                <div  *ngIf="!show_date_box">
                      
                      <input placeholder="Start Date" class="form-control" [(ngModel)]="updateTaskFromData.task_start_date" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="task_start_date" #task_start_date="ngModel" [ngModelOptions]="{standalone: true}">
                      <owl-date-time #dt3></owl-date-time>
                      
                  </div>
                   <!-- <div  *ngIf="show_date_box"> -->
                    
                     <!-- <div  *ngIf="!show_date_box"> -->
                      
                      <!-- <input placeholder="Start Date" class="form-control" [(ngModel)]="updateTaskFromData.task_start_date" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" name="task_start_date" #task_start_date="ngModel" [ngModelOptions]="{standalone: true}"> -->
                      <!-- <owl-date-time #dt4></owl-date-time> -->
                     
                  <!-- </div> -->
                  <div  *ngIf="show_date_box">
                      <input placeholder="{{testdate}}" *ngIf="show_date_box" class="form-control"   [(ngModel)]="testdate4" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [ngModelOptions]="{standalone: true}" >
                            <owl-date-time #dt3></owl-date-time>
                  
                  </div>
                      
                   <!-- </div> -->
                               
                            </div>
                            <div class="col-md-6 ">
                                <label for="exampleInputPassword1">Due Date</label>
                             <div  *ngIf="!show_date_box">
                      
                      <input placeholder="Due Date" class="form-control" [min]="updateTaskFromData.task_start_date" [(ngModel)]="updateTaskFromData.task_end_date" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="task_end_date" #task_end_date="ngModel" [ngModelOptions]="{standalone: true}">
                      <owl-date-time #dt></owl-date-time>
                     
                  </div>
                  <div  *ngIf="show_date_box">
                      <input placeholder="{{testdate}}" [min]="testdate4" *ngIf="show_date_box" class="form-control"   [(ngModel)]="testdate5" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [ngModelOptions]="{standalone: true}" >
                            <owl-date-time #dt></owl-date-time>
                  
                  </div>
                                
                            </div>
                            <div class="col-md-6 ">
                                <label for="exampleInputPassword1">Reminder</label>
                                 <div  *ngIf="!show_date_box">
                            <input placeholder="Reminder" class="form-control"  [max]="updateTaskFromData.task_end_date" [(ngModel)]="updateTaskFromData.task_reminder_date" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="task_reminder_date" #task_reminder_date="ngModel" [ngModelOptions]="{standalone: true}">
                                    <owl-date-time #dt2></owl-date-time> 
						</div>
						 <div  *ngIf="show_date_box">
                      <input placeholder="{{testdate2}}" [max]="testdate5"  *ngIf="show_date_box" class="form-control"   [(ngModel)]="testdate6" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [ngModelOptions]="{standalone: true}" >
                            <owl-date-time #dt2></owl-date-time>
                  
                  </div> 
                              
                            </div>
                            <div class="col-md-6 demo">
                                <label for="exampleInputPassword1">Priority</label>
                                <select class="custom-select"
                                 
                                [(ngModel)]="updateTaskFromData.task_priority" 
                                #task_priority="ngModel"
                                name="task_priority" >
                                    <option value="">Select</option>
                                    <option value="1">High</option>
                                    <option value="2">Medium</option>
                                    <option value="3">Low</option>
                                    <option value="4">None</option>
                                </select>
                                
                            </div>
                            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default bn-sm" data-dismiss="modal" (click)="hidemodel4()" >Close</button>
              <button type="submit" *ngIf="select_permissions.indexOf(22) !== -1" class="btn btn-success" (click)="update_task_event();updateTaskForm.form.reset()"  [disabled]="updateTaskForm.form.invalid">Save changes</button>
            </div>
          </form>
          </div>
        </div>
 </div>
</section>
