<div class="overlay-bg"></div>
	<section id="form" class="wow fadeIn"><!--form-->
		<div class="container">
			<div class="row">
				<div class="box-auto col-md-4">
                	<div class="alert alert-danger mt-3" role="alert" *ngIf="err_message!=''">
            		{{ err_message }}
					  </div>
					  <div class="alert alert-success mt-3" role="alert" *ngIf="message!=''">
							{{ err_message }}
							  </div>
                  	<br>
					<div class="w-100">
					
				<div class="box-body" *ngIf="modeldisplay">
					<div class="box-header">
							<img src="../assets/front-assets/images/home/logo.png" alt="">
						</div>	
							<form class="form" #formCtrl="ngForm">
							
							<div class="row">
								
										<div class="col-md-12">
											<label>Email</label>
											<input type="email" 
											class="form-control"   pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}"
											[class.is-invalid]="email.invalid && email.touched" 
											[(ngModel)]="forgetPasswordData.email" 
											#email="ngModel" name="email" 
											placeholder="Enter email" required>              
											<small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
											</div>
								</div>
								
							
							
                            <button (click)="forgetPassword()" [disabled]="formCtrl.form.invalid" class="mt-7 btn btn-primary btn-block btn-md d-block">Reset Password</button>
                            <div class="text-center w-100 pt-2 pb-2">
						<span class="txt1">
							<a routerLink="../login">Login </a>
						</span>
					</div>
						
					    </form>
						</div>	
						
								
					</div>
				
						<div class="w-100">
				
				 	
						<div class="box-body" *ngIf="modeldisplay1">
							<img src="../assets/front-assets/images/home/logo.png" alt="">
						
							<form class="form" #formCtrl="ngForm">
							
								<div class="row">
								

										<div class="col-md-12">
											<label>Email</label>
											<input type="email" 
											class="form-control"  
											[class.is-invalid]="email.invalid && email.touched" 
											[(ngModel)]="forgetPasswordData.email" 
											#email="ngModel" name="email" 
											placeholder="Enter email"  required readonly>              
											<small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
											</div>
										
								</div>
								
							<div class="row">
								<div class="col-md-12">
										<label>OTP No.</label>
										<input type="number" 
                                        class="form-control" 
                                     
                                        [(ngModel)]="forgetPasswordData.otp"  [class.is-invalid]="otp.invalid && otp.touched" 
                                        #otp="ngModel" name="otp" [ngModelOptions]="{standalone: true}"
                                        placeholder="Password PIN" (change)="onChange($event)" required>              
                                        <small class="text-danger" [class.d-none]="otp.valid || otp.untouched">OTP is required</small>
                						</div>
								</div>
							<div class="row">
												
												<div class="col-md-12">
													<label>Password</label>
													<input type="password" 
													class="form-control" 
													[class.is-invalid]="password.invalid && password.touched" 
													[(ngModel)]="forgetPasswordData.password" 
													#password="ngModel" 
													name="password" maxlength="15"  minlength="4"
													placeholder="Enter your Password" trim required>
													<small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
												  </div>
											</div>
											<div class="row">
												
												<div class="col-md-12">
													<label>Password</label>
													<input type="password" 
													class="form-control" 
													[class.is-invalid]="repassword.invalid && repassword.touched" 
													[(ngModel)]="forgetPasswordData.repassword" 
													#repassword="ngModel" (ngModelChange)="check_confirm_password()"
													name="repassword" maxlength="15"  minlength="4"
													placeholder="Confirm Password" trim required>
													<small class="text-danger" [class.d-none]="repassword.valid || repassword.untouched">Confirm Password is required</small>
												  </div>
											</div>
                            <button (click)="insertPassword()" [disabled]="formCtrl.form.invalid || disablebutton" class="mt-7 btn btn-primary btn-block btn-md d-block">Reset Password</button>
                            <div class="text-center w-100 pt-2 pb-2">
						<span class="txt1">
							<a routerLink="../login">Login </a>
						</span>
					</div>
					
					    </form>
						
</div>						
								
					</div>
				</div>
			</div>
		</div>
	</section>

