 <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li><a href="crmOverview.html">Overview</a></li>
                            <li><a href="crmLead.html">Leads</a></li>
                            <li><a href="crmDeal.html" class="active">Deals</a></li>
                            <li><a href="crmContact.html">Contacts</a></li>
                            <li><a href="crmCustomer.html">Customers</a></li>
                            <li><a href="crmVendor.html">Vendors</a></li>
                            <li><a href="crmAppointment.html">Appointments</a></li>
                            <li><a href="crmReport.html">Report</a></li>
                        </ul>
                        <div class="pull-right mt-7 pr-10">
                            <ul class="filter-box float-btn float-btn-right">
                                <li>
                                    <a href="crmDeal.html" class="btn btn-default"> <i class="fa fa-arrow-left"></i> Go Back</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="col-md-12"> <a href="javascript:void();"> <img src="../assets/images/users/avatar-9.jpg" alt="user" class="rounded-circle" style="border-radius: 50px" width="32px"> </a> John <small>Sprucebox <a href="crmDeal.html" class=""> <i class="fa fa-pencil"></i></a></small>
                            <div class="pull-right">
                            <ul class="float-btn float-btn-right">
                                <li>
                                     <a href="javascript:void();" class="btn btn-info">
                            Convert to Project</a>
                                </li>
                                <li>
                                    <a routerLink="../create-estimate" class="btn btn-info"> Create Estimate</a>
                                </li>
                                <li>
                                    <a routerLink="../upload-contract" class="btn btn-info"> Create Contract</a>
                                </li>
                            </ul>
                            </div>
                            </h4>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="col-md-2">
                                <p>Deal Owner</p>
                            </div>
                            <div class="col-md-2">
                                <p>John</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2">
                                <p>Stage</p>
                            </div>
                            <div class="col-md-2">
                                <p> Negotiation/Review</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2">
                                <p>Probablity (%)</p>
                            </div>
                            <div class="col-md-2">
                                <p>90</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2">
                                <p>Expected Revenue</p>
                            </div>
                            <div class="col-md-2">
                                <p>$ 4,500.00</p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2">
                                <p>Closing Date</p>
                            </div>
                            <div class="col-md-2">
                                <p>Apr 19, 2018</p>
                            </div>
                            <div class="clearfix"></div>
                            <span class="Deal-stage">Stage</span>
                            <ul class="linestage">
                                <li data-toggle="tooltip" title="Estimate" data-toggle="modal" data-target="#stage">
                                    <a href="javascript:void();"></a>
                                </li>
                                <li data-toggle="tooltip" title="First Follow Up"></li>
                                <li data-toggle="tooltip" title="Second Follow UP"></li>
                                <li data-toggle="tooltip" title="Third Follow Up"></li>
                                <li data-toggle="tooltip" title="Estimate Revision"></li>
                                <li data-toggle="tooltip" title="Hold"></li>
                                <li data-toggle="tooltip" title="Approved Job"></li>
                                <li data-toggle="tooltip" title="Contracts"></li>
                                <li data-toggle="tooltip" title="Pre-Construction"></li>
                                <li data-toggle="tooltip" title="Construction Handyman"></li>
                                <li data-toggle="tooltip" title="Exterior"></li>
                                <li data-toggle="tooltip" title="Ground Work"></li>
                                <li data-toggle="tooltip" title="Framing"></li>
                                <li data-toggle="tooltip" title="RoughIn"></li>
                                <li data-toggle="tooltip" title="Sheetrock"></li>
                                <li data-toggle="tooltip" title="Hardsurface"></li>
                                <li data-toggle="tooltip" title="Finish"></li>
                                <li data-toggle="tooltip" title="Pre-Finish"></li>
                                <li data-toggle="tooltip" title="Close Won"></li>

                            </ul>
                            <a href="javascript:void();" class="show_hide col-md-12 mb-15" data-content="toggle-text">Show Detail</a>
                            <div class="viewMoreContent row pull-left w-100">
                                <div class="col-md-12">
                                    <h4>Deal Information</h4>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <p>Deal Name </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Thomas, Rob</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Account Name </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Thomas, Rob</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Email </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p> robthomasjpn@hotmail.com</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Phone </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>503-720-4144 (Trudie)</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Project </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Type Exterior Work</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Job Specific </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Decking and Fencing</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Sales Person </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Stage </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>First Follow Up</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <p>Amount </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>$ 3,300.00</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Project </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Number 18-0095</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Closing Date </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Deal Owner </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Katy Herbert</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Secondary Contact </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Secondary Phone </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Secondary Email </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Project Link</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h4>Address Information</h4>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <p>Street</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10535 SE Boise St</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>State</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>OR</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Project SiteAccess</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <p>City</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Portland</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Zip Code</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>483501</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-6">
                                        <p>Country</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>-</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h4>Description Information</h4>
                                    <hr>
                                </div>
                                <div class="col-md-12">
                                    <p>Please note that Rob Thomas is out of the country in Japan. He is selling his house, and is having the real estate agent, Trudie Wilhelm, meeting us at the project, etc. He is wanting fencing work to be done. (Rob Thomas is the one who will be paying)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <form class="w-100" role="form" action="" method="post">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-6">
                                    <label>Description</label>
                                    <textarea rows="2" class="form-control form-input"></textarea>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <label>Attachment</label>
                                    <div class="input-group mb-15"> <span class="input-group-btn">
                        <button id="fake-file-button-browse" type="button" class="btn btn-default"> <span class="fa fa-file"></span> </button>
                                        </span>
                                        <input type="file" id="files-input-upload" style="display:none">
                                        <input type="text" id="fake-file-input-name" disabled="disabled" placeholder="File not selected" class="form-control">
                                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled="disabled" id="fake-file-button-upload"> <span class="fa fa-upload"></span> </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <label>Activities</label>
                                    <div class="pull-right mb-15">
                                        <ul class="float-btn float-btn-right">
                                            <li> <a href="javascript:void();" class="btn waves-effect waves-light" data-toggle="modal" data-target="#addTask"><i class="fa fa-plus"></i> New Task</a> </li>
                                            <li> <a href="javascript:void();" class="btn waves-effect waves-light" data-toggle="modal" data-target="#addEvent"><i class="fa fa-plus"></i> New Appointment</a> </li>
                                        </ul>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table  table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Subject</th>
                                                    <th>Activity Type</th>
                                                    <th>Status</th>
                                                    <th>Due Date</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Activity Owner</th>
                                                    <th>Modified Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="javascript:void();">Test</a></td>
                                                    <td>Task</td>
                                                    <td><a class="btn btn-success btn-xs">Completed</a></td>
                                                    <td>25/04/2018</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>Kameron</td>
                                                    <td>Apr 27, 2018 04:25 AM </td>
                                                </tr>
                                                <tr>
                                                    <td><a href="javascript:void();">Demo</a></td>
                                                    <td>Appointment</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>May 9, 2018 01:00 PM </td>
                                                    <td>May 9, 2018 01:00 PM </td>
                                                    <td>Kameron</td>
                                                    <td>Apr 27, 2018 04:25 AM </td>
                                                </tr>
                                                <tr>
                                                    <td><a href="javascript:void();">Test</a></td>
                                                    <td>Task</td>
                                                    <td><a class="btn btn-info btn-xs">Confirmed Date</a></td>
                                                    <td>25/04/2018</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>Kameron</td>
                                                    <td>Apr 27, 2018 04:25 AM </td>
                                                </tr>
                                                <tr>
                                                    <td><a href="javascript:void();">Demo</a></td>
                                                    <td>Appointment</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>May 9, 2018 01:00 PM </td>
                                                    <td>May 9, 2018 01:00 PM </td>
                                                    <td>Kameron</td>
                                                    <td>Apr 27, 2018 04:25 AM </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
			            </div>
    </section>